body {
    font-family: 'proxima_nova_rgregular';
}

.logo-icon-img {
    max-width: 100%;
}

#main-wrapper[data-layout="horizontal"] .topbar .navbar-collapse[data-navbarbg="skin5"], #main-wrapper[data-layout="horizontal"] .topbar[data-navbarbg="skin5"], #main-wrapper[data-layout="vertical"] .topbar .navbar-collapse[data-navbarbg="skin5"], #main-wrapper[data-layout="vertical"] .topbar[data-navbarbg="skin5"] {
    background: #fa3700;
}

.page-breadcrumb {
    padding: 25px 25px;
}

.flags {
    max-width: 35px;
}

.btn-primary{
    background-color: #fa3700;
    border-color: #fa3700;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    background-color: #25a301;
    border-color: #25a301;
}

.language-toogle {
    margin-right: 50px;
}

.change-lang-text {
    color: white;
}

.flags.current-lang-flag {
    width: 45px !important;
    border-bottom: 5px solid #fff;
}